body{
	text-align:center;
}

#head{
	background-color:#cc9900;
}
#stars{
	background-color:#66ccff;
	display:inline-block;
	padding:15px;
}
#principal{
	background-color:#3399ff;
	display:block;
	padding:20px;
	margin-left:200px;
	margin-right:200px;
}
#cabecera{
	padding:25px;
}

#instrucciones{
	font-size:150%;
}

/* Estrellas */
img.img_star{
	width:100px;
	height:100px;
}

div.box_star{
	display:inline-block;
}

/* imagen de la pregunta */
#qpic {
    max-width:200px;
    max-height:200px;
}

/* Imagen del popup */
img.modal_img {
    width:250px;
	height:250px;

}

/* popup */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}

.modal {
    /* Without height or width it will adjust automatically */
    /*
    height:200px;
    width:300px;

    max-width: 300px;
    max-height: 200px;
    
    background-color: #f1c40f;
    */
    
    padding:1.5em;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    
    background-color: white;
    
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
    
    /* arbitrary styling */
  
    /*
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    */
}

/*
.overlay:target {
  visibility: visible;
  opacity: 1;
}
*/
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: orange;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
